.card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transition: box-shadow 0.3s ease-in-out;
    flex: 1;
    width: 15rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    span {
      align-self: flex-start;
    }
  }

  .product_image {
    max-width: 100%;
    max-height: 12.5rem;
    height: auto;
    display: block;
    margin-bottom: 0.5rem;
  }

  .item_title {
    font-size: 1rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    color: #333;
  }
}
